@charset "utf-8";
* {
    margin:0;
    padding:0;
    vertical-align: top
}

/** General Style Info **/
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    text-decoration:none;
}
a.link.list {
    display: block;
    margin: 0 10px 7px 0;
    float: left;
    clear: both;
}
a.window {
    background: url("../img/icono-chico-link.png") no-repeat scroll right 2px transparent;
    padding-right: 13px!important;
}
a.link {
    cursor: pointer;
    padding: 0px;
    text-decoration: none!important;
}
a img {
    border:none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom:0.5em;
}
h1 {
    font-size: 100%;
}
h2 {
    font-size: 190%;
}
h2.title {
    margin: 0px;
    padding: 5px 0 10px 0;    
    font-weight: normal;
}
h3 {
    font-size: 180%;
    font-weight: normal;
}
h4 {
    font-weight: normal;
}
ul, li {
    margin: 0 12px;
}
table ul, .input ul {
    margin: 0;
}
table ul{margin: 0;}
table ul li, .input ul li{
    margin: 0;
    padding: 0 0 3px 8px;
    font-size: 12px;
    list-style-position: inside;
    list-style-type: none;
    background: url("../img/list-arrow.png") no-repeat -1px 3px transparent;
}
.k-editor ul, .k-editor li {
    margin: 0 1px !important;
}
.k-editor form div {
    padding: 0 !important;
}
li.k-item {
    margin: 0;
}
p {
    margin: 0 0 1em 0;
}

/** Layout **/
#container {
    text-align: left;
    /*padding-top: 31px*/
}
.top-header{
    padding: 9px 20px 0px 17px;
    overflow: hidden;
}
.top-header a.logo{
    display: block;
    width: 100px;
    height: 63px;
    float: left;
    text-indent: -5000px;
    opacity: .7;
}
.top-header a.logo:hover{opacity: 1}
div.user_info {
    float: right;
    margin-top: 6px;
}
#header{
    padding: 0 20px 0 10px;
    height: 32px;    
    position: relative;
    z-index: 9;
}
.is-sticky #header{
    top: 0px;
    left: 0;
    right: 0;    
}
#content{
    clear: both;
    padding: 10px 20px 40px 20px;
    overflow: auto;
}
#footer {
    font-size: 11px;
    clear: both;
    padding: 10px 30px 10px 0;
    text-align: right;
}

/** containers **/
div.form,
div.index,
div.view {    
    float:right;
    width:76%;
    padding:10px 2%;
}
div.actions {
    float:left;
    width:16%;
    padding:10px 1.5%;
}
div.actions h3 {
    padding-top:0;
}
/** Tables **/
table {
    border-right:0;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
}
th {
    border: 0;
    text-align: left;
    padding: 4px 10px 2px 4px;
    font-weight: normal;
}
th a {
    display: block;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
}
th a.asc:after {
    content: ' ⇣';
}
th a.desc:after {
    content: ' ⇡';
}
table tr td {
    padding: 10px 6px;
    text-align: left;
    vertical-align: top;
    max-width: 550px;
}
table tr td span.field{
    font-size: 12px; 
    line-height: 16px;
}
th.acciones {
    width: 50px;
}
td.actions {
    text-align: center;
    white-space: nowrap;
}
div.itm {
    margin: 0 0 5px 0;
}
table div.itm+div.itm .fldro{font-size: 11px;}
table div.itm .desc+.fldro{font-size: 11px;}

table td.actions a {
    margin: 0px 6px;
    padding:2px 5px;
}
td.acciones, span.acciones{
    white-space: nowrap;
}
td.acciones a, span.acciones a {
    margin-right: 3px;
}
table.asociada {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 20px;
    text-align: left;
    border-collapse: collapse;
}
table.asociada th {
    padding: 4px 8px;
    vertical-align: bottom;
    border: 0;
    opacity: .85;
}
table.asociada td {
    line-height: 17px;
    padding: 12px 6px;
    vertical-align: top;
}
table.asociada td.number {
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    width: 20px;
}

div.asociada_add {
    display: none;
    height: auto;
    z-index: 2;
    margin: 25px 10px 15px 10px;
    margin-bottom: 14px;
}
.cuernito {
    background: url("../img/new-record-header.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 14px;
    position: relative;
    top: -13px;
}
/*Botones*/
div.asociada_add .submitbutton {
    margin-top: 30px;
    padding: 6px 15px 5px 5px;
    border: none;
    height: 35px;
}
.submitbutton a.continuar {
    margin: 0 !important;
}
.submitbutton a.multiple {
    margin-right: 12px!important;
}
.submitbutton a.cancelar {
    margin-top: 10px !important;
}
.botonNuevoRegistro {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 18px 12px 0 12px;
    padding: 5px 10px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    cursor: pointer;
}
.botonNuevoRegistro:after {
    content: "+";
}
a.continuar {
    float: right;
    font-weight: normal;
    margin: 10px 0px 0 0;
    text-decoration: none;
    font-size: 110%;
    border-radius: 4px 4px 4px 4px;
}
form .submit input[type=submit], a.continuar {
    border: none;
    padding: 8px 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
}
input[type=submit],
.actions ul li a,
.actions a {
    font-weight:normal;
    padding: 4px 8px;
    background: #dcdcdc;
    color:#333;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    min-width: 0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.actions ul li a:hover,
.actions a:hover  {
    background: #ededed;
    border-color: #acacac;
    text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
    background: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
    background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
    background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
    background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
    background-image: -o-linear-gradient(top, #dfdfdf, #eee);
    background-image: linear-gradient(top, #dfdfdf, #eee);
    text-shadow: #eee 0px 1px 0px;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    border-color: #aaa;
    text-decoration: none;
}
a.cancelar {
    float: right;
    margin-top: 8px;
    margin-right: 15px;    
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}
/** Paging **/
.paging {
    margin-top: 1em;
    clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}
.paging > span {
    display: inline-block;
    border-left: 0;
}
.paging .prev {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.paging .disabled:hover {
    background: transparent;
}
div.paginador {
    margin-top: -7px;
    margin-right: 10px;
    float: right;
    font-size: 12px;
}
div.paginador a{
    text-decoration: none;
    border-radius: 4px;	
    padding: 0 4px;
    font-weight: normal;
}
div.paginador span:first-child a, div.paginador .prev a, div.paginador .next a, div.paginador span:last-child a {
    font-family: "Courier", sans-serif;
    font-size: 10px;
    padding: 2px;
    line-height: 17px;
}
/* SQL log */
.cake-sql-log {
    background: #fff;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
    color:#fff;
}

/** Scaffold View **/
dl {
    line-height: 2em;
    margin: 0em 0em;
    width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
    background: #f4f4f4;
}
dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
    width: 10em;
}
dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

/** Forms **/
form {
    clear: both;
    padding: 0;
}
fieldset {
    border: none;
    margin: 5px 0px 20px 0px;
}
.bloque_columnas_1, .bloque_columnas_2{
    clear: both;
    overflow: hidden;
}
.bloque_columnas_2 fieldset{
    width: 50%;
    float: left; 
}
.bloque_columnas_2 fieldset:first-child{width: 48%; margin-right: 2%;}

label {
    display: inline-block;
    float: left;
    font-size: 14px;
    padding-top: 4px;
    width: 145px;
    padding-left: 5px;
}
fieldset legend {
    font-size: 160%;
    padding-top: 10px;
}
fieldset fieldset {
    margin-top: 0;
    padding: 10px 0 0;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
.inputs {
    overflow: hidden;
}
form .inputs {
    width: 100%;
    overflow: hidden;
    padding: .5em;
    vertical-align: text-top;
}
form div.submit {
    border: 0;
    display: inline;
    float: right;
}

label.checkbox {
    font-size: 100%;
    font-weight: normal;
    float: left;
    width: 80%;
}
label.permiso {
    font-weight: normal;
    padding: 0;
    margin-left: 5px;
}
.asociada_add .input>label {
    font-size: 90% !important;
    text-transform: uppercase;
    margin-left: -160px;
}
.textarea label {
    padding-top: 3px;
    vertical-align: top;
}
input {
    border-radius: 4px;
    font-family: arial;
    font-size: 120%;
    padding: 3px;
    width: 350px;
}
textarea {
    clear: both;
    font-size: 120%;
    font-family: arial;
    padding: 3px;
    width:385px;
    border-radius: 4px;
}
select {
    padding: 1px;
    clear: both;
    font-size: 110%;
    vertical-align: text-bottom;
    border-radius: 4px;
    max-width: 385px;
}
select[multiple=multiple] {
    width: 100%;
}
option {
    font-size: 100%;
    padding: 0 3px;
}
input[type=checkbox] {
    float: left;
    margin: 4px 2px 5px 0;
    width: auto;
}
.checkboxes-wrap{
    float: left;
    margin: -5px 0 0 0px;
    width: 88%;
}
div.checkbox label {
    display: inline;
}
div.checkbox-box {
    float: left;
    padding: 0;
    width: 15%;
}
input[type=radio] {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
    line-height: 26px;
    float: left;
}
input[type=submit] {
    display: inline;
    font-size: 110%;
    width: auto;
}

/* Form errors */
form .error {
    background: #FCE7E7;
}
form .error li{
    background: url('../img/error-message.png') no-repeat -1px 3px transparent;
    padding: 0 0 0px 14px;
    margin-bottom: 3px;
    font-weight: bold;
}
form .error-message {
    margin: 0;
    border: none;
    padding: 4px;
    background: transparent;
}
form .error,
form .error-message {
    color: #EA4444;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

div.form-error-header {
    height: 29px;
    font-weight: bold;
    font-size: 14px;
    background: url('../img/error-alert.png') no-repeat 0px 0px;
    padding-left: 43px;
    padding-top: 4px;
}
div.form-error {
    font-weight: normal;
    font-size: 13px;
    margin-left: 41px;
    margin-bottom: 2px;
}

/** Notices and Errors **/
.message {
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    background: #ffcc00;
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    border-radius: 2px;
    font-weight: normal;
}
.cake-error,
p.error,
.error-message,
.message{
    clear: both;
    color: #fff;
    background: #E54C4C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
    clear: both;
    color: #fff;
    border: none;
    background: #79B105;
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #fff;
}

/**  Actions  **/
.actions ul {
    margin: 0;
    padding: 0;
}
.actions li {
    margin:0 0 0.5em 0;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
.actions ul li a {
    font-weight: normal;
    display: block;
    clear: both;
}


/** Related **/
.related {
    clear: both;
    display: block;
}

/** Debugging **/
pre {
    color: #000;
    background: #f0f0f0;
    padding: 15px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
    padding: 0;
    position: relative;
}
.cake-debug-output > span {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 6px;
    color: #000;
    display: block;
    float: left;
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
    font-size: 16px;
    line-height: 20px;
    clear: both;
}
.cake-error > a {
    text-shadow: none;
}
.cake-error {
    white-space: normal;
}
.cake-stack-trace {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px 10px 0 10px;
    font-size: 120%;
    line-height: 140%;
    overflow: auto;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.cake-stack-trace a {
    text-shadow: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 4px 10px 2px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
    position: relative;
    overflow: auto;
}
.cake-context {
    margin-bottom: 10px;
}
.cake-stack-trace pre {
    color: #000;
    background-color: #F0F0F0;
    margin: 0px 0 10px 0;
    padding: 1em;
    overflow: auto;
    text-shadow: none;
}
.cake-stack-trace li {
    padding: 10px 5px 0px;
    margin: 0 0 4px 0;
    font-family: monospace;
    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    -wekbkit-border-radius: 4px;
    border-radius: 4px;
    background: #dcdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: linear-gradient(top, #fefefe, #dcdcdc);
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    padding: 4px;
    overflow: auto;
}
.cake-code-dump .code-highlight {
    display: block;
    background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
    padding-left:5px;
    display:block;
    margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
    background:#ecc;
}
.code-coverage-results div.covered span.content {
    background:#cec;
}
.code-coverage-results div.ignored span.content {
    color:#aaa;
}
.code-coverage-results span.line-num {
    color:#666;
    display:block;
    float:left;
    width:20px;
    text-align:right;
    margin-right:5px;
}
.code-coverage-results span.line-num strong {
    color:#666;
}
.code-coverage-results div.start {
    border:1px solid #aaa;
    border-width:1px 1px 0px 1px;
    margin-top:30px;
    padding-top:5px;
}
.code-coverage-results div.end {
    border:1px solid #aaa;
    border-width:0px 1px 1px 1px;
    margin-bottom:30px;
    padding-bottom:5px;
}
.code-coverage-results div.realstart {
    margin-top:0px;
}
.code-coverage-results p.note {
    color:#bbb;
    padding:5px;
    margin:5px 0 10px;
    font-size:10px;
}
.code-coverage-results span.result-bad {
    color: #a00;
}
.code-coverage-results span.result-ok {
    color: #fa0;
}
.code-coverage-results span.result-good {
    color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
    display:none;
}

.ui-datepicker-trigger {
    margin-left: 5px;
    vertical-align:middle;
}

div.filter {
    display: none;
    border: none;
    margin-bottom: 20px;
    padding: 0 !important;
}

div.filter h3 {
    cursor: pointer;
    background: url('../img/pointer.png') no-repeat 0 -8px;
    padding-left: 35px;
}

div.filter input[type="submit"] {
    margin-right: 15px;
    cursor: pointer;
}

div.filter form>div{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dotted #EEEEEE;
    color: #303030;
    font: 9pt arial,sans-serif;
    height: auto !important;
    min-height: 20px;
    overflow: auto;
}
div.filter span.label{
    display: inline-block;
    margin: 8px 5px 0 0px;
}
div.filter .k-widget + span.label{
    margin-left: 15px;
}
div.filter div.botones_action{
    text-align: right;
    padding: 10px 0;
}
div.output {
    display:inline-block;
    margin-top: -16px;
    float: left;
}

div.filter div.submit {
    border: none !important;
    padding: 10px 4px 0 0 !important;
    float: none !important;
}

div.filter .input>label {
    float: left;
    font: bold 9pt/21px arial,sans-serif;
    height: auto !important;
    min-height: 20px;
    padding-left: 10px;
    top: 0;
    width: 150px;
    margin-left: -158px;
}
div.filter .input .input>label{
    color: #999;
    width: 100px;
    font-weight: normal;    
    margin-left: -158px;
    line-height: 14px;
}
div.filter .input .input input[type="text"]{
    width: 245px;
    margin-left: -45px;
}
div.filter div.output{
    float: none;
    display: none;
}
div.filter div.output label {
    width: auto;
    margin-right: 10px;
    padding-top: 0px;
    float: none !important;
}
.action_buttons{
    text-align: right;
    clear: both;
}
div.output select {
    vertical-align: middle;
}

div.filter .required select, div.filter .required input {
    background: #FFFFFF !important;
}
.filtro_atributos .input{
    padding-left: 155px;
    padding-top: 1px;
    padding-bottom: 10px;
}
.filtro_atributos .input:first-child{
    padding-left: 150px;
}
div.permiso {
    background: #FFF url('../img/arrow-small.png') no-repeat 0px 2px;
    clear: both;
    color: #303030;
    font: 9pt arial,sans-serif;
    height: auto !important;
    min-height: 20px;
    border: none;
    padding: 0px 20px;
}

span.filtro_activo {
    margin-right: 15px;
    margin-top: 2px;
    float: left;
}

span.field {
    float: left;
    font-size: 16px;
    line-height: 26px;
}
.editar-field+span.field{
    padding: 4px 5px;
    border: 3px solid #EBEAE7;
    background: #EBEAE7;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    margin-right: 4px;
}
div.input{
    font: 9pt arial,sans-serif;
    height: auto !important;
    padding: 10px 10px 8px 170px;
    overflow: hidden;
    min-height: 30px;
}
.input>label{margin-left: -170px;}
.columnas_2 div.input{float: left; width: 36%;}
.columnas_2 .inputs div.input+div.input, #boxProveedorUserId{margin-left: 1%; width: 34%;}
.columnas_3 div.input{float: left; width: 18%; }
div.input.clear{ width: 100%;}

.input.file a {    
    vertical-align: middle;
    height: 44px;
    display: inline-block;
}
.input.file i {    
    display: inline-block;
    margin: 6px 10px 0 0;
}
.asociada_add>div.input {
    background: transparent!important;
}
.titulo {
    width: 100%;
    padding: 0;
    height: 57px;
    overflow: visible;
    margin-bottom: 20px;
}
.titulo:after {
    content: ".";
    display: block;
    color: #fff;
    height: 1px;
    line-height: 1px;
    clear: both;
}
.titulo>div:first-child {   
    float: left;
    font-size: 250%;
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    bottom: -8px;
    height: 52px;
    background: url("../img/title-pointer.png") no-repeat scroll 50px 50px transparent;
}
table.k-content tr td {
    text-align: center;
}
#load_inventario, #loading_inventario {
    margin-left: 10px;
    vertical-align:middle;
    padding-bottom: 5px;
}
#info_inventario {
    margin-left: 20px;
}
#info_inventario img {
    width: 20px;
    vertical-align:middle;
    margin-right: 5px;
    padding-bottom: 5px;
}
#change_inventario {
    display: none;
    margin-left: 10px;
}
input.small {
    width: 100px;
}
input.large {
    width: 400px;
}
div.permisos {
    border: 0;
    float: left;
}
div.permisos div {
    border: 0;
    padding-bottom: 0;
}
div.maint {
    width: 100%;
}
div.boton-home-grande, div.boton-home-grande-bounce {
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    z-index: 1;
}
#botones{
    margin-top: 15px;
}
#botones>div{
    margin-right: 25px;
    width: 135px;
    height: 158px;
}
#botones>div>a{
    border: 5px solid #CCCCCC;
    padding: 10px;
    height: 84px;
    width: 85px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 66px;
}
#botones>div>a img{
    opacity: .3;
}
#botones>div>a:hover img{
    opacity: 1;
}
div.counter {  
    line-height: 14px;
    padding:3px 6px;
    border-radius: 25px;
    font-weight: bold;
    position: absolute;
    right: 22px;
    top: 8px;
}
.upload_files{
    overflow: hidden;
}
.dnd_drop_zone {
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    float: left;
    width: 60%;
    margin-right: 20px;
}
.upload_files .content-button{
    float: left;
    width: 153px;
    margin-left: 20px;
}
.upload_files .content-button button{
    margin-top: 6px;
}
.progressbar {
    width: 150px;
    border: solid 1px gray;
    margin-top: 2px;
    padding: 2px;
    min-height: 0;
}
.progressbar .percent {
    margin: 0;
    color: white;
    height: 10px;
    min-height: 10px;
    width: 0%;
    padding: 0;
}
table.drag_drop {
    width: 57%;
    margin-top: 10px;
}
table.drag_drop td {
    padding: 10px 3px 3px 3px;
}

div.paginate_table {
    float: right;
    margin: 25px 0 0 0;
}
div.paginate_table>div {
    float: left;
}
div.paginate_table a{
    background: #f0f0f0;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 5px;
}
div.table_pagination {
    font-size: 12px;
    padding: 2px 0 0 8px;
}
div.table_pagination.disabled a {
    cursor: default;
    text-decoration: none;
}
div.note {
    font-size: 11px;
    color: #666;
    border: 0;
    padding: 5px;
    padding-bottom: 0;
}
div.input img {
    margin-left: 5px;
}
div.googlemap_button {
    margin-top: 10px;
}
div.search_cond {
    line-height: 18px;
    padding: 3px 3px 3px 0;
    font-size: 12px;
    margin-bottom: 5px;
}
div.search_cond #filtro_bullet a.contraido {
    cursor: pointer;
    margin-right: 5px;
    padding: 0 0 0 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    float: left;
    width: 13px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-indent: -5000px;
}
div.search_cond a.expandido{
    background: none;
    margin: 0px 0 8px 0px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
div.search_cond a.expandido b {
    float: left;
    width: 13px;
    height: 17px;
    font-size: 16px;
    line-height: 18px;
    padding: 0 0 0 4px;
    border-radius: 4px;
    margin-right: 5px;
    text-indent: -5000px;
}
#bloqueoHeartBeat {
    opacity: 0.1;
    width: 24px;
    height: 29px;
    top: 120px;
    right: 25px;
    padding: 8px;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    cursor: pointer;
}

#bloqueoHeartBeat:hover {opacity: .3}
#bloqueoHeartBeat.fixed {position: fixed; top: 40px;}

.cke { overflow: hidden; }

.wrap-message {
    width: 680px;
    margin: 40px auto 20px auto;
    background: #F9F9F9;
    overflow: hidden;
    padding: 20px;
    border-radius: 6px;
}
.wrap-message .content-buttons {padding: 10px; margin-top: 10px; text-align: center; }
.wrap-message .content ul, .wrap-message .content li { margin: 0; }
.wrap-message .content li {
    color: #333;
    list-style-type: none;
    background: url(../img/list-arrow.png) no-repeat 3px 4px;
    padding-left: 12px;
    margin-bottom: 5px;
    font-size: 14px;
}
.wrap-message .content h2 { margin: 0;font-size: 40px; font-weight: normal; background-color: #F9F9F9; }
.wrap-message .content { min-height: 120px; padding: 0px 10px 10px 110px; border: none; }
.wrap-message .success { background: url(../img/fmw/success-grande.png) no-repeat 14px -3px; color: #7CB900; }
.wrap-message .error { background:url(../img/fmw/error-grande.png) no-repeat 14px -5px; color:#DE523F; }
.wrap-message .bloqueo { background:url(../img/fmw/bloqueo-grande.png) no-repeat 14px -3px; color:#FF9900 }
.wrap-message .bloqueo h2 { color: #FF9900 }
.wrap-message .success h2 { color: #83B900 }

#popup_ok, #popup_cancel { cursor: pointer; }

div.loading_row {float: left;}
div.loading_row img {width: 16px; vertical-align: middle;}

.nro {
    clear: none;
    color: #999;
    display: inline;
    float: left;
    font: normal 12px arial;
    margin-left: 0px;
    margin-top: -6px/*9px*/;
    margin-bottom: 10px;
}
.nro em {
    color: #3B3B3B;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    margin-right: 10px;
}

.cantidadRegistros { float: right; margin-right: 30px; margin-top: -7px; }
.cantidadRegistros  select { vertical-align: middle; margin-left: 5px; border: 1px solid #EBEAE7; font-size: 12px;}
.cantidadRegistros span { color: #8B8474; font: normal 12px arial;}

div.mimetype {
    padding: 0;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
}
div.mimetype a{display: block; float: left;}
div.mimetype div{display: inline-block; padding-left: 7px; max-width: 250px; white-space: normal;}
div.mimetype img {width: 35px;}
img.mimetype{width: 35px;}
div.mimetype img.file {width: 35px;}

#flashMessage {margin: 10px 0 20px 0; padding: 12px 20px;}
#flashMessage .mensaje { float: left; }
#flashMessage .mensaje a { color: #FFF; }
#flashMessage .close { float: right; cursor: pointer; }
#flashMessage .close img { width: 18px; }

.loadingFullscrean, .loadingAjax {
    bottom: 0;
    top: 0;
    font-size: 5em;
    left: 0;
    opacity: 0.8;
    padding: 20% 33px 20px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 2147483647;
    display: none;
}
.output a {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/export.png') no-repeat 0 0;
    text-indent: -5000px;
    margin: 10px 5px 0 5px;
}
.output a.csv {
    background-position: -31px 0;
}
.output a.excel {
    background-position: -61px top;
}

/*Reescribo botones de kendo*/
body .k-button{
    opacity: .85;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 7px 4px 9px;
    box-shadow: none!important;
    border: none;
}
h2.title .k-button {
    float: right;
    font-size: 12px;
    padding: 8px 20px;
    opacity: 1;
}
body .k-button:hover{
    opacity: 1;
}
h2.title .k-button .k-icon{
    margin: -2px 6px 0 -5px;
}

body .k-picker-wrap{
    border-radius: 3px!important;
}
body .k-picker-wrap .k-select{
    padding: 4px 0 0 0;
    height: auto;
    border-radius: 0;
}
body .k-button .k-icon{
    background-image: url('../img/sprite-blanca.png');
    vertical-align: text-bottom;
    margin-right: 2px;
}
body button.k-button .k-icon{
    margin: -2px 2px 0 -2px;
}
body .title .k-button .k-icon{
    background-image: url('../img/sprite-gris.png');
}
.k-datepicker, .k-timepicker, .k-datetimepicker{
    width: 12.4em!important;
    padding: 0!important;
}
.k-i-print {
    background-position: -160px -276px;
}
.k-i-attach {
    background-position: -160px -295px;
}
.k-i-geo {
    background-position: -160px -314px;
}
.k-i-barcode {
    background-position: -160px -259px;
}
.k-i-huella {
    background-position: -117px -201px;
    height: 18px!important;
    margin: -1px 2px -1px 0!important;
}
body .fg-menu-container{
    height: 250px!important; 
}
body .fg-menu ul.fg-menu-scroll {
    overflow: scroll!important;
    overflow-x: hidden!important;
    height: 200px!important;
}
body div.k-window-content {
    padding: 20px 20px 10px 15px;
}
/**Fin botones de kendo***/

span.utilizar-impresora img {
    margin: 0 0 -10px 5px;
}
#dialog-modal-plantillas {
    padding-top: 10px;
    padding-left: 15px;
}

#dialog-modal-plantillas a {
    margin-left: 10px;
    margin-top: -3px;
}

ul.dnd_list {
    margin: 0;
    list-style:none;
}
li.dnd_list_item {
    overflow: hidden;
    margin-bottom: 5px;
}
li.dnd_list_item a {
    float: left;
}
li.dnd_list_item div {
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}
/*Licencias*/
.dias-restantes-licencia{
    background: #f0f0f0;
    padding: 3px;
    width: 378px;
    margin-top: 5px;
}
.dias-restantes-licencia div{
    margin: 3px 5px;
    font-size: 11px;
}
/*Alertas google*/
#googlemap-select-result{
    padding: 10px 15px;
}
#googlemap-select-result div{
    float: none;
    margin: 10px 0;
    clear: both;
}
#googlemap-select-result div input[type=radio] {
    margin-top: 1px;
    margin-right: 5px;
}
#googlemap-select-result  #continuar{
    text-align: right;
    margin-top: 15px;
}
/*Tickets*/
#validacion_info_ticket {
    padding-top: 5px;
    display: inline-block;
}
#validacion_info_ticket img{
    display: inline-block;
    margin: -3px -9px 0 10px;
}
/*responsive*/
@media only screen and (max-width: 1140px) {
    .bloque_columnas_2 fieldset,.bloque_columnas_2 fieldset:first-child, .columnas_2 div.input, body #container-galeria, .columnas_2 .inputs div.input+div.input{
        float: none;
        width: 100%;
        margin-left: 0; 
    }
    .columnas_2 .inputs{
        border-bottom: none;
    }
    .columnas_2 .inputs>div.input{
        border-bottom: 1px dotted #EEEEEE;
    }
    .descripcion{
        clear: both;
        margin-left: 130px;
    }
}

/*Notificaciones*/
.notificationBox {
    position: absolute;
    padding: 5px 30px 5px 5px;
    right: 20px;
    background: url('../img/notifications.png') no-repeat right 0;
    opacity: .5;   
    min-height: 25px;
    margin-top: 4px;
    cursor: pointer;
}
.notificationBox:hover {
    opacity: 1;
}
.notificationBox ul{
    display: none;
    padding: 5px 5px 0px 25px;
    margin: -5px 0 0 -25px;
    border-radius: 2px;
    max-width: 300px;
    max-height: 300px;
    overflow-y: auto;
}
.newNotifications{
    position: relative;
    top: 3px;
}
.newNotifications ul{
    position: absolute;
    padding: 0px;
    right: 18px;
    border-radius: 2px;
    max-width: 300px;
}
.newNotifications li{
    list-style-type: none;
}
.notificationBox b, .newNotifications b{
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 7px;
    right: 25px;
    display: none;
    z-index: 9;
}
.notificationBox:hover ul, .notificationBox:hover b, .newNotifications b{
    display: block;
}
.newNotifications a{
    text-decoration: none;
    padding: 7px 3px;
    display: block;
}
.notificationBox li{
    margin: 0 0 0 0px;
    padding: 0px;    
}
.notificationBox a{
    text-decoration: none;
    padding: 5px 10px 10px 20px;
    margin-left: -20px;
    display: block;
}
.notificationBox li:last-child a, .newNotifications li:last-child a{
    border-bottom: none;
}
.notificationBox a:hover, .newNotifications a:hover{
    text-decoration: underline;
}
.notificationBox span{
    position: absolute;
    right: 2px;
    top: 5px;
    font-size: 11px;
    width: 17px;
    text-align: center;
    display: none;
}
.notificationBox.unread span{
    display: block;
}
.notificationBox .empty{
    list-style-type: none;
    padding: 5px;
    margin: -5px 0 0 -20px;
}
